.container {
  text-align: center;
}

.no_users {
  margin-bottom: 15px;
  margin-top: 20px;
}

.user_name {
  flex: 1;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user_item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 360px;
  margin: 0 auto 10px;
}

.inputWrapper {
  gap: 10px;
}

.name_input {
  border: 1px solid black;
  margin-right: 15px;
  height: 30px;
}

.submit_button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  width: 90px;
  height: 38px;
}

.submit_button:hover {
  background-color: red;
}

.cancel_button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  //   background-color: #2cdf35;
  //   color: white;
  cursor: pointer;
  transition: 0.2s;
  width: 100px;
  height: 38px;
  margin-left: 10px;
}

.detail_button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #2cdf35;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  width: 90px;
  height: 38px;
  cursor: pointer;
}

.detail_button:focus {
  outline: none;
}

.detail_button:active {
  transform: scale(0.98);
}

.delete_button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #f63b57;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  width: 90px;
  height: 38px;
}

.delete_button:hover {
  background-color: #ce2c2c;
}
